@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Source+Sans+Pro:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Alegreya, sans-serif;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightblue;
}

/* Heading */

.heading {
  font-family: Alegreya;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 33px;
  letter-spacing: 2px;
  color: black;
}

h2 {
  font-size: 36px;
  color: #ffffff;
  font-family: sans-serif;
}

section {
  font-family: sans-serif;
}



/* Quiz */

.primary-container {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#quiz-zone {
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

.question-container {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  font-size: 38px;
}

#question-number {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.score-area {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.wrapper {
  align-self: start;
}

.wrapper input[type="radio"] {
  width: 14px;
}

.wrapper label {
  display: inline;
  margin-left: 5px;
}

.right-ans {
  color: green;
  font-weight: bold;
}

.wrong-ans {
  color: red;
  font-weight: bold;
}

#start {
  margin-top: 45px;
  width: 23%;
  height: 10%;
  font-size: 23px;
  letter-spacing: 1px;
  font-weight: bold;
}

#game-summary {
  display: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #40e0d0;
}

/* Buttons */

button {
  background-color: #6F6F6F;
  color: #ffffff;
  text-align: center;
  padding: 8px;
  width: 110px;
  border-radius: 8px;
  font-weight: bold;
}

button:hover {
  transition: 0.5s;
  background-color: #6495ed;
}

#quiz {
  display: none;
}

input {
  accent-color: #7C5EBA;
}

#restart-btn {
  display: none;
}

#answer-btn:disabled,
button[disabled] {
  border: 1px solid#999999;
  background-color: #c0c0c0;
}

/* https://www.w3schools.com/howto/howto_css_overlay.asp */
#overlay {
  position: fixed;
  bottom: 151px;
  left: 56px;
  right: 56px;
  top: 103px;
  z-index: 1;
  background-color: #7C5EBA;
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 78%;
  padding-top: 50px;
}

.overlay-start {
  margin-top: 6px;
}

/* Media queries */

@media (max-width: 1024px) and (min-width: 600px) {
  img {
    max-width: 44%;
    padding-top: 37px;
  }

  h2 {
    font-size: 32px;
  }

  #start {
    margin-top: 31px;
    width: 20%;
    height: 10%;
    font-size: 21px;
  }
}

/* 
  Device = laptops, desktops
  Screen = B/w 1025px to 1280px
*/

@media (min-width: 1026px) and (max-width: 1280px) {

  img {
    max-width: 34%;
    padding-top: 39px;
  }

  #start {
    margin-top: 40px;
    width: 18%;
    height: 10%;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: bold;
  }

  h2 {
    font-size: 32px;
  }
}

/* 
  Device = galaxay fold landscape
  Screen = B/w 653
*/

@media (min-width: 652px) and (max-width: 655px) {

  #start {
    margin-top: 28px;
    width: 22%;
    height: 10%;
    font-size: 20px;
  }

  h2 {
    font-size: 31px;
  }

  .question-container {
    font-size: 34px;
  }

  #first-option-text {
    font-size: 30px;
  }

  #second-option-text {
    font-size: 30px;
  }

  #third-option-text {
    font-size: 30px;
  }

  #fourth-option-text {
    font-size: 30px;
  }
}

/* 
  Device = most of the smartphones mobiles (portrait)
  Screen = B/w 360px to 479px
*/

@media (min-width: 411px) and (max-width: 480px) {

  h1 {
    font-size: 38px;
    margin-top: 48px;
  }

  h2 {
    font-size: 17px;
  }

  #start {
    margin-top: 37px;
    width: 23%;
    height: 10%;
    font-size: 15px;
  }

  .question-container {
    font-size: 27px;
  }

  #first-option-text {
    font-size: 24px;
  }

  #second-option-text {
    font-size: 24px;
  }

  #third-option-text {
    font-size: 24px;
  }

  #fourth-option-text {
    font-size: 24px;
  }
}

/* Iphone SE */

@media (min-width: 375px) and (max-width: 667px) {

  h2 {
    font-size: 30px;
  }

  #start {
    margin-top: 41px;
    width: 31%;
    height: 10%;
    font-size: 16px;
  }

  .question-container {
    font-size: 31px;
  }

  form {
    font-size: 27px;
  }

}

/* Samsung Galaxy Fold */

@media (min-width: 280px) and (max-width: 653px) {
  #overlay {
    position: fixed;
    bottom: 151px;
    left: 22px;
    right: 22px;
  }

  #start {
    width: 34%;
  }

  h2{
    font-size: 30px;
  }

  .question-container{
    font-size: 31px;
  }

  form{
    font-size: 26px;
  }
}


/* Iphone 5/SE */

@media (min-width: 320px) and (max-width: 568px) {

  h2 {
    font-size: 25px;
  }

  #start {
    margin-top: 24px;
    font-size: 17px;
  }

  .question-container {
    font-size: 30px;
  }

  form {
    font-size: 27px;
  }
}